.img {
    border-radius: 10%;
    margin: auto;
}

.image {
    border-radius: 10%;
    margin: auto;
    height: 500px;
}


.arrondie {
    border-radius: 50%;
    border: 2px solid white;

}

#banner {
    background-image:url("./images/headerlandscape/dev13.jpg");
    background-size: 2000px 950px;
    height: 100%;

}

section#one.wrapper.spotlight.style1 {
    height: 100%;
}

div.col.mt-3.ms-2.me-0 {
    max-width: 720px;
}

#dev1 {
    border-radius: 30px;
}

#two {
    background-color: #093374;
}

#wrapper {
    background-color: #2460BD;
}

#footer {
    background-color: #2E86C1 ;
}

#four {
    background-color: #5DADE2;
}

#four.wrapper.alt.style1::after {
    background-color: #2E86C1;
}

.box {
    background-color: #fff;
    box-shadow: 0 25px 45px #3232321a, 0 15px 25px #0000001a;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    height: 150px;
}
.brands {
transition: transform 0.3s;
transform: translate3d(0, -1px, 0); 
}

.brands:hover {
transform: translate3d(0, -10px, 0);
}

#spoiler {
    display: block;
    color: yellow;
}

.contentSpoiler {
    display: none;
}

p.tel.me-2.mt-3 {
    background-color: #fff;
    font-weight: bold;
    border-radius: 20%;
    transition-property: all;
    transition-duration: 5s;
}
#oldix {
    border: 1 px solid black;
}
a:hover {
    color: green;
}
 .text {
     text-align: center;
 }




